<!-- include header -->
<%- include('include/_header')  %>

<style>
    body{
        background:#8AF9EB;
    }
</style>
</head>
<body>
<div class="card mx-auto mt-2" style="max-width: 600px;">
    <img class="card-img-top" src="/img/coverPng.png" alt="">
    <div class="card-body">
        <h4 class="card-title">Registration Info</h4>
        <p class="card-text">Your informations have been recorded</p>
    </div>
</div>
<!-- include footer -->
<%- include('include/_footer.ejs')  %> 